[submodule "tools/shared"]
	path = tools/shared
	url = https://github.com/Amulet-Team/cpp-tools
[submodule "submodules/Amulet-Core"]
	path = submodules/Amulet-Core
	url = https://github.com/Amulet-Team/Amulet-Core
