include build_requires.py
include requirements.py

include get_compiler/CMakeLists.txt
include get_compiler/__init__.py

recursive-include src *.cpp *.hpp *Config.cmake CMakeLists.txt *.jpg *.png *.svg *.ico *.lang *.json *.qss

include CMakeLists.txt

prune tests
