// -------------------------------------------------------
// ------------------ Global Properties ------------------
// -------------------------------------------------------

// Colours
$primary_x0_666: #191919;
$primary_x0_909: #212122;
$primary: #252526;
$primary_x1_05: #272728;
$primary_x1_1: #29292A;
$primary_x1_25: #2E2E2F;
$primary_x1_3: #303031;
$primary_x1_5: #373739;
$primary_x1_6: #3B3B3D;
$primary_x2: #4A4A4C;

$primary_variant: #37373D;

$on_primary: #D4D4D4;
$on_primary_x0_666: #8C8C8C;

$secondary_x0_5: #0D354A;
$secondary_x0_666: #114663;
$secondary: #1A6A95;

$secondary_variant_x0_8: #214556;
$secondary_variant_x0_909: #254D61;
$secondary_variant: #29566C;

$on_secondary: #D4D4D4;

$background: #1E1E1E;
$background_x1_15: #222222;

$on_background: #D4D4D4;

$surface_x0_909: #2E2E2E;
$surface: #333333;
$surface_x2: #666666;

$on_surface: #828282;

//$error: ;
//$on_error: ;

@import "../default";
